# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FallingAgain.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.vs
*.exe
*.log
*.bin
*.apk
/Library/
/Temp/
/Assets/VSCode*
/obj/
/out
/.vscode/
*.sln
*.userprefs
*.csproj
/.idea
*.iml
*.DotSettings.user
/Assets/Plugins/Editor/JetBrains*